<%= form_for(@nested) do |f| %>
  <% if @nested.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nested.errors.count, "error") %> prohibited this nested from being saved:</h2>

      <ul>
      <% @nested.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
